priority -50

snippet bs_panel "Bootstrap 3 panel" b
<div class="panel panel-default">
  <div class="panel-heading">
	{% trans "${1:panel_heading}" %}
  </div>
  <div class="panel-body">
	<div class="row">
	</div>
  </div>
  <div class="panel-footer">
    <div class="row">
	</div>
  </div>
</div>
endsnippet

# vim:ft=snippets:
